* {
    padding: 0px;
    margin: 0px;
}

.headline {
    font-size: 1.2rem;
    text-align: left;
    margin-left: 120px;
    margin-top: 100px;
    color: #e85a4f;
}

.title {
    font-size: 3rem;
    text-align: left;
    margin-left: 120px;
    color: #e85a4f;
}

.next-btn,
.prev-btn {
    transform: translateX(5000%);
    display: inline-block;
    color: #e85a4f;
    font-size: 25px;
    padding-top: 25px;

}

body {
    background-color: #ffffff;
}

.gallery {
    padding: 80px 0px;
}

img {
    max-width: 100%;
}

.gallery img {
    background: rgb(255, 255, 255);
    padding: 15px;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#gallery-popup .modal-img {
    width: 100%;
}