@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;1,200&family=Nunito:wght@500&family=Slabo+27px&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html {
    font-size: 62.5%;
}



.container-1 {
    padding: 3rem;
}

.headline {
    font-size: 1.8rem;
    text-align: left;
    margin-left: 120px;
    margin-top: 100px;
    color: #e85a4f;
}

.title {
    font-size: 3rem;
    text-align: left;
    margin-left: 120px;
    color: #e85a4f;
}


.next-btn,
.prev-btn {
    transform: translateX(5000%);
    display: inline-block;
    color: #e85a4f;
    font-size: 25px;
    padding-top: 25px;

}

.image {
    display: block;
    width: 100%;
}

.img-container {
    margin: 15px 10px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    background-color: #eee;
}

.caption {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;

}

.des {
    color: tomato;
    margin-top: 40%;
    margin-left: 8%;
    text-align: center;
}

.thumbnail:hover {
    transform: translate(-4px);
}

.img-container:hover .overlay {
    opacity: 1;
}