@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;1,200&family=Nunito:wght@500&family=Slabo+27px&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito', lato;
    background-color: #222;
    overflow-x: hidden;
    color: rgb(18, 127, 190);


}

/* body {
    height: 100vh;
    width: 100%;
} */

.container {
    max-width: 100vh;
    width: 100%;
    margin: 0 auto;
}

.header {
    width: 100%;
    background-color: #fbfaf5;
}

.navContainer {
    /* max-width: 1440px; */
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-content: center;
    background-color: rgb(243, 239, 239);
}

.navbar ul {
    display: flex;
    align-items: center;

    gap: 15px;
}

.navbar ul li {
    list-style-type: none;
}

.navbar ul li a {
    color: rgb(231, 29, 29);
    font-size: 14px;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: #e85a4f;
}

.loginBtn {
    color: #e85a4f;
}

.signUpBtn {
    padding: 5px 10px;
    background-color: #e85a4f;
    border: 1px solid #e85a4f;
    border-radius: 5px;
}

.signUpBtn:hover {
    padding: 5px 10px;
    background-color: white;
    border: 1px solid #e85a4f;
    border-radius: 5px;
}

.signUpBtn a {
    color: white !important;
}

.signUpBtn a:hover {
    color: #e85a4f !important;
}

.searchBox {
    margin-left: 450px;
    margin-top: 20px;
    display: flex;
    align-content: center;
    gap: 5px;
    padding: 5px 10px;
    background: #fbfaf5;
    box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.searchBox>input {
    border: none;
    outline: none;
    background: transparent;
}

.heading {

    text-align: center;
    font-size: 25px;

}

.title {
    text-align: center;
    font-size: 35px;
}

.paragraph {
    font-size: 16px;
    text-align: center;
    color: #000;
}

.section {
    display: flex;
    gap: 70px;
    justify-content: space-between;
    padding: 40px;
    width: 80%;
    margin: 5rem auto 0 auto;
}



/* .section img {
    height: 350px;
    transform: translateX(50%);
} */

section {
    display: flex;
}

section div {
    width: 50%;
    margin: auto 0px;
    padding: 10px;
}

section div h2 {
    text-align: center;
    padding: 10px;
}

/* section div {
    width: 100%;
    height: 250px;
} */

section div img {
    width: 100%;
    box-shadow: 2px 2px;
}

section div p {
    padding-top: 10px;
    color: #fff;
}

.section h1 {
    margin: 0;
    color: rgb(18, 127, 190);
}

.section p {
    color: #000;
    margin-right: 15px;
}

/* .section-1 {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: 5rem auto 0 auto;

} */
/* 
.section-1 img {
    height: 350px;
    transform: translateX(-120%);

}

.section-1 h1 {
    transform: translateX(110%);
    color: rgb(18, 127, 190);
}

.section-1 p {
    color: #fff;
    margin-left: 15px;
    transform: translateX(110%);
} */

.btn {
    width: 10%;
    letter-spacing: 2px;
    background: #1167b8;
    transition: all 0.5s ease-in-out;
    -webkit-text-fill-color: #fff;
    transform: translateX(500%);
}

.btn:hover {
    transform: scale(0.8s);
    color: aqua;
}

.feedbackFull,
.footerFull {
    background-color: #eae7dc;
}

.feedback,
.enrollmentInfo,
.faq,
.companies,
.footer {
    padding: 100px 20px;
}

.enrollment {
    position: relative;
}

.enrollmentImg {
    position: absolute;
    top: 20px;
    right: 50px;
    width: 400px;
}

.faqItem {
    width: 680px;
    height: 60px;
    background: #fbfaf5;
    border: 1px solid rgba(107, 106, 101, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.faqItem>div {
    font-size: 20px;
    padding-left: 10px;
}

.footerLogo {
    width: 280px;
}



.footerLinks>li {
    list-style-type: none;
    padding: 15px 0px;

}

.footerLinks>li a {
    display: inline-block;
    text-decoration: none;
    color: rgb(223, 76, 50);
    font-size: 22px;
    font-weight: 700;
}

.footerLinks>li a:hover {
    color: #e6976f;
}

.emailBox {
    border: 1px solid rgba(107, 106, 101, 0.2);
    padding: 5px;
    margin-top: 15px;
    border-radius: 5px;
}

.emailInput {
    border: none;
    outline: none;
    padding: 5px;
    background: transparent;
}

.footer {}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

    .banner .left,
    .banner .right,
    .processRight,
    .processLeft {
        width: 100%;
    }

    .navbar {
        /* display: none; */
        position: static;
        background-color: #fbfaf5;
    }

    .searchBox {
        margin-top: 10px;
    }

    .navbarTop {
        display: flex;
        justify-content: space-between;
    }

    .banner,
    .category {
        flex-wrap: wrap;
    }

    .banner .left .title {
        font-size: 54px;
    }

    .banner .left .subtitle {
        font-size: 34px;
    }

    .banner .search {
        position: static;
        width: 100%;
        height: 100px;
    }

    .banner .search {
        position: static;
        width: 100%;
        height: 70px;
    }

    .banner .search .btn {
        width: 100px;
        height: 50px;
        font-size: 14px;
    }

    .banner .left .count {
        margin-top: 50px;
    }

    .categoryLeft {
        width: 100%;
        margin-bottom: 20px;
    }

    .categoryLeft .catTitle,
    .categoryLeft>p {
        width: 100%;
    }

    .categoryLeft>p {
        margin-bottom: 20px;
    }

    .categoryRight {
        width: 100%;
    }

    .categoryRight .categoryItems {
        grid-template-columns: repeat(2, 1fr);
    }

    .categoryRight .categoryItems .item {
        width: 100%;
        height: 100%;
    }

    .popularTitle>h1 {
        font-size: 25px;
    }

    .cardContainer {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    /* process start */
    .process {
        flex-wrap: wrap;
    }

    .processRightContent {
        width: 100%;
    }

    .processRightContent>img {
        width: 100%;
    }

    .processTitle {
        font-size: 30px;
    }

    .processRightContent {
        background: transparent;
    }

    .processRight>div {
        display: block !important;
        padding-left: 10px;
    }

    .processRight .btn {
        font-size: 16px;
        width: 200px;
        height: 50px;
    }

    .processStep {
        width: 100% !important;
        margin-left: 5px !important;
    }

    .processItemBox {
        width: 60px;
        height: 46px;
    }

    .processItemBox>span {
        font-size: 16px;
    }

    .featured {
        flex-wrap: wrap;
    }

    .featureCourseCard {
        display: block;
        width: 100%;
    }

    .featureSelect {
        width: 100%;
    }

    .trendingCard {
        margin-bottom: 20px;
        width: 100%;
    }

    .trendingCard>img {
        width: 100%;
    }

    .enrollmentImg {
        display: none;
    }

    .faq {
        width: 100%;
    }

    .faqItem {
        width: 100%;
    }

    .footerLinks>li a {
        font-size: 14px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}