 @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;1,200&family=Nunito:wght@500&family=Slabo+27px&display=swap');

 html {
     font-size: 62.5%;
 }




 /* .header {
    width: 100%;
    background-color: #e85a4f;
} */


 .heading {

     text-align: center;
     font-size: 25px;
     color: #e85a4f;

 }

 .title {
     text-align: center;
     font-size: 35px;
     color: #e85a4f;
 }

 .paragraph {
     font-size: 16px;
     text-align: center;
     color: #000;
 }

 .section {
     display: flex;
     gap: 70px;
     justify-content: space-between;
     padding: 40px;
     width: 80%;
     margin: 5rem auto 0 auto;
 }


 section {
     display: flex;
 }

 section div {
     width: 50%;
     margin: auto 0px;
     padding: 10px;
 }

 section div h2 {
     text-align: center;
     padding: 10px;
 }


 section div img {
     width: 100%;
     box-shadow: 2px 2px;
 }

 section div p {
     padding-top: 10px;
     color: #fff;
 }

 .section h1 {
     margin: 0;
     color: #e85a4f;
 }

 .section p {
     color: #000;
     margin-right: 15px;
 }



 .btn {
     width: 10%;
     letter-spacing: 2px;
     background: #e85a4f;
     transition: all 0.5s ease-in-out;
     -webkit-text-fill-color: #fff;
     transform: translateX(450%);
     margin-bottom: 40px;
 }

 .btn:hover {
     transform: scale(0.8s);
     padding: 5px 10px;
     background-color: white;
     border: 1px solid #e85a4f;
     border-radius: 5px;
 }